*{
    outline: none;
}
.agree-all-wrap * {
    margin: 0;
    padding: 0;
    color: #1e1e1e;
}

.agree-all-wrap {
    width: 100%;
    min-height: 100vh;
    background-color: #ddd;
    padding: 50px;
    box-sizing: border-box;
}

.agree-wrap {
    width: 800px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 10px;
}
.agree-title > h1 {
    text-align: center;
    padding: 25px;
    color: #003399;
    font-size: 2.5em;
    margin: 0;
    
}
.agree-title > h3 {
    text-align: center;
    padding: 15px;
    font-weight: bold;
    display: block;
    font-size: 1.17em;
    margin: 0;
}
.agree {
    margin: 30px auto;
    width: 600px;
    height: 271px;
}
.agree-name {
    text-align: left;
}
.agree-explain {
    border: 1px solid black;
    width: 540px;
    margin: 15px auto;
    height: 200px;
    overflow: auto;
    padding: 10px;
    box-sizing: border-box;
    font-size: 13px;
}
.agree-check {
    width: 90%;
    margin: 0 auto;
    text-align: right;
}
.agree-button-box {
    text-align: center;
    padding: 30px;
}
button {
    appearance: auto;
    box-sizing: border-box;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-color: buttonborder;
}
.agree-button-box > * {
    width: 200px;
    height: 40px;
    border: none;
    font-size: 18px;
    box-sizing: border-box;
    cursor: pointer;
    padding: 5px;
    font-family: nn_b;
    background-color: #003399;
    color: #fff;
    margin: 3px;
}
.agree-name>span{
    font-weight: bolder;
}