
.ul{
    list-style-type: none;
}
.ol{
    list-style-type: decimal-leading-zero;
}
.ul1{
    list-style-image: url(../img/kakao.jpg);
}
.ul2{
    list-style-position: inside
};
.ul3{
    list-style-position: outside
};