<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Spring boot</h1>
	<hr>
	<h3><a href = "/request">1. Spring Controller 호출</a></h3>
	<h3><a href = "/request2?str=김정우&num=100">2. Spring Controller 호출하면서 데이터 전송</a></h3>
	<h3>3. Spring Controller 데이터 전송, 응답받아 화면에 출력</h3>
	<form action = "/plus" method = "post">
		<input type = "text" name = "num1">
		+
		<input type = "text" name = "num2">
		<input type = "submit" name = "더하기">
	</form>
	
	<hr>
	<h3><a href = "thymeTest1">1.Thymeleaf 테스트1(기본형 데이터 화면에 출력하기)</a></h3>
	<h3><a href = "thymeTest2">2.Thymeleaf 테스트2(객체 데이터 화면에 출력하기)</a></h3>
	<h3><a href = "thymeTest3">3.Thymeleaf 테스트3(List(배열 등의 index 가 있는. ) 데이터 화면에 출력하기)</a></h3>
	<hr>
	<h3><a href = "/allMember">1. 전체회원 조회</a></h3>
</body>
</html>